<section class="about" id="about">
  <div class="title">
    <h2 class="section-title">Acerca de...</h2>
  </div>
  <div class="content">
    <div class="column col-left">
      <div class="img-card">
        <img src="https://scontent.frgl4-1.fna.fbcdn.net/v/t1.6435-9/78532755_2549687198597559_3558387332518248448_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGx1QHiuGzrpXtgRwxj3HmCRe-4YI1UKWxF77hgjVQpbH4W-K6WH-JaMxRiiDWlQzZvX0c2eC3WeJSWkzIjEMwN&_nc_ohc=ds8bCThVFwgAX929iZr&_nc_ht=scontent.frgl4-1.fna&oh=00_AT_voslNzYzQGER27vsZA54_HYfXqC3KL27ik1F5x9Gwdg&oe=62506684" alt="">
      </div>
    </div>
    <div class="column col-right">
      <h2 class="content-title">Introducción</h2>
      <p class="paragraph-text">{{myPortfolio.about}}</p>
    </div>
  </div>
</section>

<!-- 
            <div class="modal fade" id="editaboutme" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Editar "sobre mí"</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Editar "sobre mí". Puede añadir todas sus experiencias y todo lo relacionado sobre usted.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        <br>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary ms-2">Guardar cambios</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
-->