<section class="about section mb-5" id="about">
  <div class="container">
    <h2 class="title mb-3">
      Acerca de...
      <!-- Icono para editar -->
    </h2>
    <div class="row">
      <div class="about-img padd-15">
        <!-- Img -->
        <img class="about-img" src="http://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" alt="">
      </div>
      <div class="about-content padd-15">
        <div class="rounded">
          <div class="row">
            <div class="about-text">
              <h4 class="title mb-3">Introducción</h4>
              {{myPortfolio.about}}
            </div>
            <div class="other-information">
              <h4 class="title mb-3">Otra información</h4>
              <ul>
                <li class="mb-2"><strong>Lugar de nacimiento:</strong> Córdoba Capital</li>
                <li class="mb-2"><strong>Lugar de nacimiento:</strong> Córdoba Capital</li>
                <li class="mb-2"><strong>Lugar de nacimiento:</strong> Córdoba Capital</li>
                <li class="mb-2"><strong>Lugar de nacimiento:</strong> Córdoba Capital</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
            <div class="modal fade" id="editaboutme" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Editar "sobre mí"</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Editar "sobre mí". Puede añadir todas sus experiencias y todo lo relacionado sobre usted.</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                        <br>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary ms-2">Guardar cambios</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
-->