<!-- Profile section -->
<section class="profile text-center">
  <div class="container">
    <div class="intro">
      <!-- PFP -->
      <img
        src="https://scontent.frgl4-1.fna.fbcdn.net/v/t1.6435-9/78532755_2549687198597559_3558387332518248448_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGx1QHiuGzrpXtgRwxj3HmCRe-4YI1UKWxF77hgjVQpbH4W-K6WH-JaMxRiiDWlQzZvX0c2eC3WeJSWkzIjEMwN&_nc_ohc=ds8bCThVFwgAX929iZr&_nc_ht=scontent.frgl4-1.fna&oh=00_AT_voslNzYzQGER27vsZA54_HYfXqC3KL27ik1F5x9Gwdg&oe=62506684"
        class="img-fluid border rounded-6 shadow-lg mb-4" loading="lazy" id="profile-pfp">
      <!-- Information -->
      <h1 class="shadowing display-4 text-white fw-bold" id="profile-name">{{myPortfolio.name}}</h1>
      <p class="shadowing lead mb-4 text-white fw-bold" id="profile-ocupation">{{myPortfolio.ocupation}}</p>
    </div>
  </div>
</section>
<!-- END Profile -->

<!-- Menú de edición -->
<div class="modal fade" id="editmenu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modificar perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nameImput" class="form-label">Nombre</label>
              <input class="form-control" type="text" placeholder="Escriba su nombre" aria-label="Escriba su nombre">
            </div>
            <div class="mb-3">
                <label for="nameImput" class="form-label">Apellido</label>
                <input class="form-control" type="text" placeholder="Escriba su apellido" aria-label="Escriba su apellido">
            </div>
            <div class="mb-3">
                <label for="nameImput" class="form-label">Ocupación</label>
                <input class="form-control" type="text" placeholder="Escriba su ocupación" aria-label="Escriba su ocupación">
              </div>
            <div class="mb-3">
                <label for="nameImput" class="form-label">Ubicación</label>
                <input class="form-control" type="text" placeholder="Escriba su cuidad, provincia, país" aria-label="Escriba su cuidad, provincia, país">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Editar foto de banner</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Editar foto de Perfil</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <br>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary ms-2">Guardar cambios</button>
          </form>
        </div>
      </div>
    </div>
</div>