<!-- Skills -->
<section class="skills" id="skills">
    <div class="title">
        <h2 class="section-title">Habilidades</h2>
    </div>
    <div class="content">
        <div class="column col-left">
            <div class="title-button">
                <h3 class="content-title">Pequeño resumen de las habilidades</h3>
                <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#editSkillsSummary"></i>
            </div>
            <p>{{mySoftskills.description}}</p>
        </div>
        <div class="column col-right">
            <div class="title-button">
                <h3 class="content-title">HardSkills</h3>
                <i class="fa-solid fa-plus"  data-bs-toggle="modal" data-bs-target="#editHardSkills"></i>
              </div>
            <li *ngFor="let hardskill of myHardskills">
                <h5>{{hardskill.name}}</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style]="style" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </div>
    </div>
</section>
<!-- END Skills-->