<!-- Skills -->
<section class="skills" id="skills">
    <div class="title">
        <h2 class="section-title">Habilidades</h2>
    </div>
    <div class="content">
        <div class="column col-left">
            <h2 class="content-title">Pequeño resumen de habilidades</h2>
            <p>{{mySoftskills.description}}</p>
        </div>
        <div class="column col-right">
            <li *ngFor="let hardskill of myHardskills">
                <h5>{{hardskill.name}}</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [style]="witdh: hardskill.level" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </li>
        </div>
    </div>
</section>
<!-- END Skills-->