/* =====================  General  ========================== */


body {
    background-color: #f9f9f9;
}

li {
    list-style: none;
}

i {
    padding: 5px;
}

.shadowing {
    text-shadow: rgb(49, 49, 49) 1px 0 10px;
}

.shadowbox {
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(49, 49, 49, 0.13) 1px 0 10px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* =====================  Navbar  ========================== */

#nav-title {
    padding: 10px;
    font-weight: 600;
}


/* =====================  Profile  ========================== */
.profile {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    align-items: center;
}

#profile-pfp {
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: 3rem;
    z-index: 1;
    box-shadow: 0px 5px 0px rgba(81, 71, 139, 0.171);
}

/* =====================  About  ========================== */

.about-img {
    flex: 0 0 25%;
    max-width: 20%;
}

.about-content {
    flex: 0 0 75%;
    max-width: 80%;
}

.about-content .about-text,
.about-content .other-information {
    flex: 0 0 50%;
    max-width: 50%;
}

.rounded {
    background-color: white;
    padding: 25px;
    border-radius: 30px;
}

/* =====================  Education / Experience ========================== */

.education {
    flex: 0 0 50%;
    max-width: 50%;
}

.experience {
    flex: 0 0 50%;
    max-width: 50%
}

.timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.timeline {
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    position: relative;
}

.timeline .timeline-item {
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 1.9rem;
}

.timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.timeline .timeline-item::before {
    content: '';
    width: 2px;
    position: absolute;
    height: 100%;
    left: 0.5rem;
    background-color: rgba(77, 77, 201, 0.829);
    top: 0;
}

.timeline .timeline-icon {
    position: absolute;
    left: -0.50rem;
    top: 0;
    font-size: 1.5rem;
    background-color: white;
    color: rgba(77, 77, 201, 0.829);
}
/* =====================  Skills ========================== */

.progress {
    border-radius: 10px;
}

.progress .progress-bar {
    border-radius: 10px;
}